<div class="container">
    <div class="row">
        <div class="col"><img src="../assets/bikeride4.jpg" class="img-fluid" alt="Responsive image"></div>
        <div class="col"><img src="../assets/bikeride5.jpg" class="img-fluid" alt="Responsive image"></div>
        <div class="w-100"></div>
        <div class="col"><img src="../assets/bikeride1.jpg" class="img-fluid" alt="Responsive image"></div>
        <div class="col"><img src="../assets/bikeride3.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
</div>