<div class="container">
        <div class="card-group">
                <div class="card">
                        <img src="../assets/bikeride5.jpg" class="card-img-top w3-hover-grayscale" alt="...">
                        <div class="card-body">
                                <h3 class="card-title">Road trip</h3>
                        </div>
                </div>
                <div class="card">
                        <img src="../assets/bikeride1.jpg" class="card-img-top w3-hover-grayscale" alt="...">
                        <div class="card-body">
                                <h3 class="card-title">Ladakh</h3>
                        </div>
                </div>
                <div class="card">
                        <img src="../assets/bikeride3.jpg" class="card-img-top w3-hover-grayscale" alt="...">
                        <div class="card-body">
                                <h3 class="card-title">Egypt</h3>
                        </div>
                </div>
        </div>


</div>