<div class="container">
  <h1 class="font-weight-bold text-center" id="heading">Welcome To Join Ride Page</h1>
  <div class="row">
    <div class="col-md-12  my-5" *ngFor="let ride of RidesList">
      <div class="card text-black shadow-lg p-3 mb-5 bg-white rounded border border-warning">
        <div id="cardheader">
          <h2 class="font-weight-bold text-center card-header p-3 mb-2 bg-info text-white">{{ride.title}}</h2>
        </div>
        <div class="card-body p-3 mb-2 bg-light text-dark text-center">
          <div class="card-text">
            <h4>Description: {{ride.description}}</h4>
          </div>
          <div class="card-text">
            <h4>Source: {{ride.source}}</h4>
          </div>
          <div class="card-text">
            <h4>Destination: {{ride.destination}}</h4>
          </div>
          <div class="card-text">
            <h4>Trip Start Date: {{ride.startdate}}</h4>
          </div>
          <div class="card-text">
            <h4>Trip End Date: {{ride.enddate}}</h4>
          </div><br />
          <div>
            <button class="btn btn-warning ">LIKE</button>&nbsp;&nbsp;
            <button class="btn btn-warning ">DISLIKE</button>
            <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          </div>
        </div>
        <button (click)="enroll(ride)" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">JOIN
          RIDE!</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Ride Joined Succesfully!!</h2>
      </div>
      <div class="modal-body">
        Thank you for joining!You can now enjoy your rides...!!
      </div>
      <div class="modal-footer">
        <button type="button" (click)="goToHome()" class="btn btn-success" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>