<div class="container-fluid" id="body">
    <div class="row">
        <div class="col-3" id="col1">
            <div class="card" id="card">
                <div class="card-body">
                    <h3 class="card-title" id="user">Welcome!!</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="name">Name : {{name}}</li>
                    <li class="list-group-item" id="email">Email : {{email}}</li>
                </ul>
            </div>
            <br />
            <br />
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Details
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" [routerLink]="['/','ride-create']">Create a ride</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/','ride-join']">Join a ride</a></li>
                    <li><a class="dropdown-item" href="#">Enrolled rides</a></li>
                    <li><a class="dropdown-item" href="#">Created rides</a></li>
                    <li><a class="dropdown-item" href="#">Completed rides</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/','purchase-item']">Shop</a></li>
                    <li><a class="dropdown-item" href="#">Previous orders</a></li>
                    <li><a class="dropdown-item" href="#">Share your experience</a></li>
                    <li><a class="dropdown-item" href="#">Feedbacks/Reviews</a></li>
                </ul>
            </div>
        </div>
        <div class="col" id="col2">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand"></a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <img src="./assets/bike1.jpg" class="rounded float-start" id="img1">
            <img src="./assets/bike2.jpg" class="rounded float-end" id="img2">
            <img src="./assets/bike3.jpg" class="rounded float-center" id="img3">
        </div>
    </div>
</div>