#heading{
    text-align: center;
    color: rgba(111, 0, 255, 0.795);
    font-size: xx-large;
    margin-top: 30px;
}
#card{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
#cardheader{
    background-color:whitesmoke; 
    color:black;
    text-align: center;
}