<div class="container d-flex justify-content-center">
    <div class="row justify-content-center align-items-center" id="row">
        <div class="col align-items-center" id="col">
            <br />
            <br />
            <div id = "body">
                <h1 id="heading">LOGIN TO CONTINUE</h1>
            </div>
            <br />
            <form (ngSubmit)="getLogin()" [formGroup]="myForm">
                <div >
                    <label for="validationCustomUsername" class="form-label">Email</label>
                    <div >
                        <input formControlName="email" class="form-control" placeholder="name@example.com" />
                        <small *ngIf="myForm.get('email').dirty && myForm.get('email').invalid"
                            class="form-text text-danger">Email-id is invalid
                        </small>
                    </div>
                </div>
                <br>
                <div >
                    <label for="validationCustomPassword" class="form-label">Password</label>
                    <div >
                        <input formControlName="password" type = "password" class="form-control" placeholder="password" />
                        <small *ngIf="myForm.get('password').dirty && myForm.get('password').invalid"
                            class="form-text text-danger">Password is invalid</small>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div>
                            <button type="submit" class="btn  btn-block btn-success">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p id="error">{{errorMessage}}</p>
    </div>
    <!-- [routerLink]="['/','home']" -->