<div class="container">
  <h1 class="font-weight-bold text-center" id="heading">List of enrolled rides</h1>
  <h2 id="message" class="text-danger">{{message}}</h2>
  <div>
    <table class="table table-striped">
      <thead *ngIf='checklistempty()'>
        <tr class="table-primary">
          <th scope="col">Ride Name</th>
          <th scope="col">Ride Description</th>
          <th scope="col">From (Source)</th>
          <th scope="col">To (Destination)</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ride of EnrolledRidesList" class="table-warning">
          <td>{{ride.title}}</td>
          <td>{{ride.description}}</td>
          <td>{{ride.source}}</td>
          <td>{{ride.destination}}</td>
          <td>{{ride.startdate}}</td>
          <td>{{ride.enddate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>