a.nav-link{
    cursor: pointer;
    color: white;
}
a:hover {
    background-color: darkblue;
  }
#center{
    text-align: center;
}
#heading{
    color:rgb(243, 123, 10);
}
iframe{
    display:block;
    margin: 0 auto;
}